days {
    day 01 root="days/d01"
    day 02 root="days/d02"
    day 03 root="days/d03"
    day 04 root="days/d04"
    day 05 root="days/d05"
    day 06 root="days/d06"
    day 07 root="days/d07"
    day 08 root="days/d08"
    day 09 root="days/d09"
    day 10 root="days/d10"
    day 11 root="days/d11"
    day 12 root="days/d12"
    day 13 root="days/d13"
    day 14 root="days/d14"
    day 15 root="days/d15"
    day 16 root="days/d16"
    day 17 root="days/d17"
    day 18 root="days/d18"
    day 19 root="days/d19"
    day 20 root="days/d20"
    day 21 root="days/d21"
    day 22 root="days/d22"
    day 23 root="days/d23"
    day 24 root="days/d24"
    day 25 root="days/d25"
}
